<a href="https://colab.research.google.com/github/Pushpalatha-H/py/blob/main/10_python_Add_Set_Items.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python - Add Set items
**We cannot change elements in a set , but we can add the element to set by using add()**

#Add items

In [3]:
#Add an item to a set
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

# Add Sets
**To Add two sets, we can use update() method**

In [6]:
#Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'papaya', 'pineapple', 'mango', 'apple', 'cherry', 'banana'}

#Add Any Iterable
**The object in update method need not to be only set(), it can be any iterable list(), dict().**

In [10]:
thisset = {"apple", "banana", "cherry"}
tropical = ["pineapple", "mango", "papaya"]

thisset.update(tropical)
print(thisset)

{'apple', 'papaya', 'cherry', 'pineapple', 'banana', 'mango'}