<a href="https://colab.research.google.com/github/Pushpalatha-H/py/blob/main/13_Join_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Join sets

**Union() or Update() :** Used to join Sets.

**Intersection():** Keep only duplicates.

**difference():** Keep the elements of first set which are not present in other set.

**Symmetric difference():** Keep all elements except duplicates.

#Union( )
**Union is a method used to join all the elements from all sets.**

ex:

Join set1 and set2 into a new set:

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

 **Both union() and '|' performs same operation**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1|set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

#Join Multiple Sets
**Join Multiple sets using union() method**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set5 = set1.union(set2, set3, set4)
print(set5)

{1, 2, 3, 'John', 'b', 'c', 'cherry', 'apple', 'a', 'Elena', 'bananas'}

**Join Multiple sets using '|' method**

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set5 = set1 | set2 | set3 | set4
print(set5)

{1, 2, 3, 'John', 'b', 'c', 'cherry', 'apple', 'a', 'Elena', 'bananas'}

# Join set and a Tuple
**union() allows to join not only sets. but, also other data types like list or tuples.**

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

**'|' will join only sets with sets not other data types**

# Update( )

**Update( ) will join sets**

**Update( ) will change original set, it dosent create new set**

In [ ]:
x = {"a", "b", "c"}
y = {1, 2, 3}

x.update(y)
x

{1, 2, 3, 'a', 'b', 'c'}

**Both Update( ) and Union( ) performs same operation of joining sets**

# Intersection

**Intersection( ) : keep duplicates only**

Join set1 and set2, but keep only the duplicates:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

**Both '&' operation and Intersection( ) performs same tasks of creating new set and keeping duplicates**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

# Intersection_update( )
**Intersection update will keep duplicates only, but it will not create new set it will update the original set.**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

**True , 1 goes for same value and False, 0 goes for same values.**

ex:

Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 =  set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

# Difference
**Difference : It will keep the elements of first sets which are not present in last set**

Keep all items from set1 that are not in set2:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

**We can use '-' sign operator instead of difference(). we get the same result**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

we can use '-' only with sets but not with other data types as we do in  difference()

# difference_update
**difference update keep the elements present in first set and not in last one.
It wont create new set. It will change the original set.**

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
set1

{'banana', 'cherry'}

# Symmetric Difference
**The symmetric_difference( ) will keep all the elements by removing the duplicates**

ex:

keep the items that are not present in both the sets

In [14]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

#^
**Both symmetric_difference() and ^ performs same operation**

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

# symmetric_difference_update( )
**Symmetric_difference_update( ) keep all the elements except the duplicates.**

**This wont create a new set but it will update the original set**

In [20]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
set1

{'banana', 'cherry', 'google', 'microsoft'}