<a href="https://colab.research.google.com/github/Pushpalatha-H/py/blob/main/24_python_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python for loop

**for loop is used to iterate through the sequence (list, tuple, set, dict)**

Print each fruit in a fruit list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

#Looping through the string

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

#The break Statement
**The break statement is used to stop the loop even when the condition is true**

Exit the loop when x is "banana":

In [ ]:
fruits = ["apple", "banana", "cherry"]       # stop the loop when x is banana
for x in fruits:
  print(x)
  if x == 'banana':
    break

apple
banana

# The continue Statement
**we can stop the current iteration and jump to the next statement**

Do not print banana:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == 'banana':
    continue
  print(x)

apple
cherry

# The range( ) Function
**To loop through the code particular number of times we use range( ) function.**

Using the range() function:

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

**Using the start parameter:**

**we can use start parameter and end parameter to the range**

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

**In range functions sequence default sets itself to 1, but if we want we can set the sequence ourself**

In [ ]:
# set the sequence to 3(default is 1)
for i in range(2, 6, 3):
  print(i)

2
5

# Else in For Loop
**Else loop in for loop executed when previous condition is not true**

Print all numbers from 0 to 5, and print a message when the loop has ended:

In [ ]:
for x in range(6):
  print(x)
else:
  print("loop has ended")

0
1
2
3
4
5
loop has ended

**Break the loop when x is 3, and see what happens with the else block:**

In [ ]:
for x in range(6):
  if x == 3:
    break
  print(x)
else:
  print("Finally done")

0
1
2

# Nested Loops
**One loop is a loop inside another loop**

Print each adjective for every fruit:

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# The pass Statement
**If we dont have anything to print inside we can use pass function to just run the code without getting error**

In [ ]:
for x in [1, 2, 3]:
  pass