<a href="https://colab.research.google.com/github/Pushpalatha-H/py/blob/main/26_python_arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Arrays
**We dont have any built-in functions for Arrays. we can use list to behave as arrays in python**

Arrays can be used to store multiple values in single variable.

#create an array called car_names

In [38]:
car = ["Ford", "Benz", "BMW"]
car

['Ford', 'Benz', 'BMW']

#Access element from the array

In [39]:
car[0]

'Ford'

In [40]:
car[1]

'Benz'

In [41]:
car[2]

'BMW'

#Modify the value
**Modify the value of the first item**

In [42]:
car[0] = "Tayoto"
car

['Tayoto', 'Benz', 'BMW']

#length of Array
**We use len function to calculate nuber of elements in array**

Return the nuber of elements in cars array

In [43]:
car = ["Ford", "Benz", "BMW"]
x = len(car)
print(x)

3

# looping through the Array
we can use for loop to iterate through array

In [44]:
car = ["Ford", "Benz", "BMW"]
for x in car:
  print(x)

Ford
Benz
BMW

#Adding elements to the Array
**we can add elements to the array by using append method**

Add Audi to the cars array

In [45]:
car.append("Audi")
car

['Ford', 'Benz', 'BMW', 'Audi']

# Remove element from the Array
1. **we can remove the element from the array using remove( ) method**

remove "Ford" from the car Array

In [49]:
car = ["Ford", "Benz", "BMW"]
car.remove("Ford")
print(car)

['Benz', 'BMW']

2. **we can use pop( ) method to remove element from the array**

Delete the second element of the cars array:

In [52]:
car = ["Ford", "Benz", "BMW"]
car.pop(1)

'Benz'