<a href="https://colab.research.google.com/github/Pushpalatha-H/py/blob/main/8_python_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python sets

#Set
**Set are used to store the values in curly braces { }.**

**Sets are collection of elements which are un-ordered, un-changed, dont allow duplicates**

**Create a Set**

In [28]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'banana', 'apple', 'cherry'}

**Sets dont allow duplicates, duplicate values wil be ignored**

In [29]:
myset = {'apple','banana', 'cherry', 'apple'}         # ignored duplicate
print(myset)

{'banana', 'apple', 'cherry'}

**True and 1 are considered to be same value in sets. and are considered as duplicates.**

In [30]:
myset = {'apple', 'banana', 'cherry', True, 1}
print(myset)

{'banana', 'apple', 'cherry', True}

**False and 0 are considered as same value in sets. and are considered as duplicates**

In [31]:
myset = {'apple', 'cherry', False,True, 0}
print(myset)

{False, 'cherry', 'apple', True}

#Get the length of the set
**To determine how many elements are there in set we use len() function.**

In [32]:
# Get the number of items a set has
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

#Set Items - Data Types
**Set item can be of any data types it can be int, str, boolean**

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 2, 3}
set3 = {True, False, True}
print(set1)

{'banana', 'apple', 'cherry'}

In [34]:
print(set2)

{1, 2, 3}

In [35]:
print(set3)

{False, True}

In [36]:
set = {"apple", 1, True, 30, 40}
print(set)

{40, 1, 'apple', 30}

#type()
**To identify which type the data is we use, type()**

In [37]:
set = {"apple", 1, True, 30, 40}
print(type(set))

<class 'set'>