<a href="https://colab.research.google.com/github/Pushpalatha-H/py/blob/main/Python_tuples_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples
**Tuple is a collection of elements which are ordered, unchangable, allow duplicates**

**1. Create a tuple**

In [ ]:
# create a tuple
thistuple = ("grapes", "banana", "apple")
print(thistuple)

('grapes', 'banana', 'apple')

**2. Calculate how many items in tuple**

In [ ]:
thistuple = ("grapes", "banana", "apple")
print(len(thistuple))

3

#3. Create a tuple with one item
**To create a tuple with one item we should add , at the end otherwise it will be only str**

In [ ]:
tuple1 = ("apple")
print(type(tuple))

<class 'tuple'>

In [ ]:
tuple2 = ("apple",)
print(type(tuple))

<class 'tuple'>

#Tuple types
**Tuple can be of any data types str, int, bool**

**str**

In [ ]:
tuple1 = ("apple", "bannana", "cherry")
print(type(tuple1))

<class 'tuple'>

**int**

In [ ]:
tuple2 = (34, 23, 45)
print(type(tuple2))

<class 'tuple'>

**bool**

In [ ]:
tuple3 = (True, False)
print(type(tuple3))

<class 'tuple'>

In [ ]:
tuple4 = ("sis" , 7, True)
print(type(tuple))

<class 'tuple'>

# 1. Access tuple
**we can access tuple by refering to index numbers with inside square braces[ ]**

In [ ]:
tuple = ("Huge list", "litte lesser")
print(tuple[0])

Huge list

**1. List : List is a set of elements that are ordered, changable, allow duplicates.**

**2. Tuple: tuple are set of elements in which the elements are ordered, unchangable, allow duplicates**

**3. Set: Set are the collections in which elements are un-ordered, un-changable, dont allow duplicates.**

**4. Dictionary: Collection of elements which are ordered, changable, dont allow duplicate**