<a href="https://colab.research.google.com/github/Pushpalatha-H/py/blob/main/python_tuples_Update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python - Update Tuples
**Tuples are ordered , un-changable, allow duplicates.**

**We cannot Add or remove from the tuple once it is created.**

**We can work around by converting tuple to list, change the list, convert back to tuple**

In [5]:
x = ("apple", "banna", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

#Uing append with tuple
**1. Convert tuple to list**

**We cannot directly use append with tuple. so, we can convert tuple to list then append and convert back to list**

Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [10]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**2. Add tuple to a tuple**
If we wnt to add single element to a tuple. create new tuple then add one tuple to another.

In [15]:
# Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
x = ("orange", )
thistuple += x
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove element from the tuple
**Tuples are unchangable, so we convert tuple to list then remove element and convert back to tuple**

In [21]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
x = list(thistuple)
x.remove("apple")
thistuple = tuple(x)
print(thistuple)

('banana', 'cherry')

**or you can delete tuple completely**

In [24]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)        # this will raise error coz thistuple no longer exists

NameError: name 'thistuple' is not defined